<html>
  <head>
    <title>TouchType Table Tennis Tracker</title>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        {% for person in ordered_people %}
        data.addColumn('number', '{{ person }}');
        {% endfor %}
        data.addRows([
        {% for line in ranking_timeline_data %}
          {{ line }}
        {% endfor %}
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, 
            {
              'displayAnnotations': false,
              'displayRangeSelector' : false,
              'displayLegendDots' : false,
              'displayZoomButtons' : false,
              'displayDateBarSeparator' : false,
              'dateFormat' : ' ',
              'scaleType' : 'allFixed',
            });
      }
    </script>
  </head>

  <body>
    <p> Hello {{ user }}, how you doing? </p>
    <form action="" method="get">
      <input type="text" name="new_result"/>
    </form>
    
    <table border="1" cellpadding="5">
      <tr>
        <td>Rank</td>
        <td>Name</td>
        <td>Wins</td>
        <td>Losses</td>
        <td>Latest News</td>
      </tr>

      {% for player in rankings %}
        <tr>
          <td>{{ player.rank }}</td>
          <td>{{ player.user }}</td>
          <td>{{ player.wins }}</td>
          <td>{{ player.loss }}</td>
          <td>{{ player.news }}</td>
        </tr>
      {% endfor %}
    </table>

    <div id='chart_div' style='width: 100%; height: 100%;'></div>
    
  </body>
</html>
