* {
  font-family: monospace;
  text-align:  center;
}

#centredform {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
